Repository ggravlingen/pygleif: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pygleif|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
        # DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pygleif|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pygleif
          - --cov-report=html
        stages: [push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        files: ^(pygleif|examples|tests)/.+\.py$

Drop tox
  tox.ini
Due: none

Drop tox config (#192)
  tox.ini
Due: none

Refactor CI/CD
  .github/workflows/test.yml
Due: none

Fix tests
  .github/workflows/test.yml
Due: none

Refactor CI/CD (#193)
  .github/workflows/test.yml
Due: none

Add support for Python 3.11
  .github/workflows/test.yml
Due: none

Add
  setup.py
Due: none

Add support for Python 3.11 (#194)
  .github/workflows/test.yml
  setup.py
Due: none

Require Python 3.10
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  pyproject.toml
  setup.py
Due: none

Bump version to 5.0
  pygleif/VERSION
Due: none

Require Python 3.10 (#195)
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  pyproject.toml
  setup.py
Due: none

Bump version to 5.0 (#196)
  pygleif/VERSION
Due: none

Fix release drafter
  .github/workflows/release-drafter.yml
Due: none

Fix release drafter (#197)
  .github/workflows/release-drafter.yml
Due: none

Add 3.12 to runner
  .github/workflows/test.yml
Due: none

Add ruff
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pygleif/api/__init__.py
  pygleif/api/data.py
  pygleif/api/meta.py
  pygleif/search.py
  pygleif/utils.py
  pyproject.toml
Due: flake8

Add Ruff (#199)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pygleif/api/__init__.py
  pygleif/api/data.py
  pygleif/api/meta.py
  pygleif/search.py
  pygleif/utils.py
  pyproject.toml
Due: flake8

Add isort ruff rule
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add isort ruff rule (#200)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Drop support for flake8
  .pre-commit-config.yaml
  pygleif/error.py
  pyproject.toml
  requirements_test.txt
  setup.cfg
Due: flake8

Fix lint
  examples/query_api.py
Due: flake8

Drop support for flake8 (#201)
  .pre-commit-config.yaml
  examples/query_api.py
  pygleif/error.py
  pyproject.toml
  requirements_test.txt
  setup.cfg
Due: flake8

Enable pylint
  .github/workflows/test.yml
  pygleif/error.py
  pyproject.toml
  tests/test_gleif.py
  tests/test_search.py
Due: pytest, flake8

Add pylint
  requirements_test.txt
Due: none

Add whitelist
  pyproject.toml
Due: none

Move
  pyproject.toml
Due: none

Add quotes
  pyproject.toml
Due: none

Enable pylint (#202)
  .github/workflows/test.yml
  pygleif/error.py
  pyproject.toml
  requirements_test.txt
  tests/test_gleif.py
  tests/test_search.py
Due: pytest, flake8

Update pre-commit-update.yml
  .github/workflows/pre-commit-update.yml
Due: none

Update pre-commit-update.yml (#203)
  .github/workflows/pre-commit-update.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Make compatible with v2
  pygleif/api/__init__.py
  pygleif/api/data.py
  pygleif/api/meta.py
  tests/test_search.py
Due: pytest, flake8

Bump to 5.0.1
  pygleif/VERSION
Due: none

Bump to 5.0.1 (#212)
  pygleif/VERSION
Due: none

Cleanup dependencies
  requirements.txt
Due: none

Cleanup dependencies (#213)
  requirements.txt
Due: none
