Repository ggravlingen/pygleif: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pygleif|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
        # DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pygleif|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pygleif
          - --cov-report=html
        stages: [push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        files: ^(pygleif|examples|tests)/.+\.py$

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Upgrade Black
  pygleif/api/data.py
  pygleif/api/meta.py
  pygleif/const.py
  pygleif/gleif.py
  pygleif/search.py
  pygleif/utils.py
  requirements_test.txt
  tests/test_gleif.py
Due: pytest, flake8

Add Python 3.12 to CI/CD
  .github/workflows/test.yml
Due: none

black==24.3.0 (#277)
  pygleif/api/data.py
  pygleif/api/meta.py
  pygleif/const.py
  pygleif/gleif.py
  pygleif/search.py
  pygleif/utils.py
  requirements_test.txt
  tests/test_gleif.py
Due: pytest, flake8

Add Python 3.12 to CI/CD (#278)
  .github/workflows/test.yml
Due: none

Remove leading underlind for from pydantic
  pygleif/api/meta.py
Due: flake8

Refactor dev environment
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/bootstrap.sh
  script/run-in-env.sh
  script/setup.sh
  setup.py
Due: none

Save
  .devcontainer/Dockerfile.dev
Due: none

Fix Python version
  pyproject.toml
Due: none

PythoN
  .github/workflows/test.yml
Due: none

Use uv
  .github/workflows/test.yml
Due: none

Ruff
  examples/query_api.py
  pyproject.toml
Due: flake8

Refactor dev environment (#314)
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  examples/query_api.py
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/bootstrap.sh
  script/run-in-env.sh
  script/setup.sh
  setup.py
Due: flake8

Improve hooks
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Drop black in favor of Ruff (#315)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none
